**/.nohup.out
**/__pycache__/
**/venv
*/db.sqlite3
*/filer_public/*
*/filer_public_thumbnails/*
*db.sqlite3*
*pyc
.env
/venv
/venv/*
CreatorPortal.egg-info
client/node_modules
dist
env.yaml
passenger_wsgi.py
public_html
server/dev_html/readme.md
tmp/
